sources/Generalising the Fast Reciprocal Square Root Algorithm 2023.pdf
sources/day2023.pdf
sources/day2023-src.tar.gz
sources/*.tex
sources/*.eps
sources/*.bbl

__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
*.egg-info/
build/
dist/
target/
Cargo.lock

*.npy
